* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#videoyt {
    padding-top: 1rem;
}

#about {
    text-align: center;
}
#kegiatan {
    padding: 3rem;
    text-align: center;
}
#acordion {
    padding: 3rem;
}
.nav-link:hover {
    background-color:whitesmoke;

}


